@page
@model RegisterModel
@{
    ViewData["Title"] = "Register As A Customer";
}

<h1>@ViewData["Title"]</h1>
<p class="row p-2">If you wish to become one of our Barbers, please contact thomasshelby@example.com and he will create a Barber account for you.</p>

<form class="row g-3" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <!-- FORM - LHS -->
    <div class="col-md-6">
        <h4>Key Account Details</h4>
        
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <!-- Radio Button - Customer Category -->
        <div class="form-group">
            <label asp-for="Input.CustomerCategory"></label>
            <br>
            @foreach (var userType in System.Enum.GetValues(typeof(PeakyBarbers.Data.Enums.CustomerCategory)))
            {
                <label class="font-italic" asp-for="Input.CustomerCategory">@userType</label>
                <input type="radio" asp-for="Input.CustomerCategory" value="@((int)userType)" />
            }
            <span asp-validation-for="Input.CustomerCategory" class="text-danger"></span>
        </div>
    </div>

    <!-- FORM -RHS -->
    <div class="col-md-6">

        <h4>Personal Details</h4>
        <div class="form-group">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="form-control" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.DateOfBirth"></label>
            <input asp-for="Input.DateOfBirth" class="form-control" />
            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
        </div>
        <!-- Selectable Dropdown - Gender -->
        <div class="form-group mt-1">
            <label asp-for="Input.Gender"></label>
            <select class="custom-select" asp-for="Input.Gender" asp-items="Html.GetEnumSelectList<PeakyBarbers.Data.Enums.Gender>()">
                <option value="">Choose gender</option>
            </select>
            <span asp-validation-for="Input.Gender" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
