@page "{id:int}"
@model PeakyBarbers.Web.Pages.Services.ServiceDeleteModel
@{
    ViewData["Title"] = "DeleteService";
}

<h1>Delete Service</h1>

<div class="row">
    <div class="col-md-5">


        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ServiceToDelete.Id" />

            <div class="form-group">
                <label asp-for="ServiceToDelete.ServiceName" class="control-label"></label>
                <input asp-for="ServiceToDelete.ServiceName" class="form-control" readonly="readonly" value=@Model.ServiceToDelete.ServiceName />
                <span asp-validation-for="ServiceToDelete.ServiceName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceToDelete.ServiceFee" class="control-label"></label>
                <input asp-for="ServiceToDelete.ServiceFee" class="form-control" readonly="readonly" value=@Model.ServiceToDelete.ServiceFee />
                <span asp-validation-for="ServiceToDelete.ServiceFee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceToDelete.ApproximateServiceDurationInMinutes" class="control-label"></label>
                <input asp-for="ServiceToDelete.ApproximateServiceDurationInMinutes" class="form-control" readonly="readonly" value=@Model.ServiceToDelete.ApproximateServiceDurationInMinutes />
                <span asp-validation-for="ServiceToDelete.ApproximateServiceDurationInMinutes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceToDelete.ServiceDescription" class="control-label"></label>
                <input asp-for="ServiceToDelete.ServiceDescription" class="form-control" readonly="readonly" value=@Model.ServiceToDelete.ServiceDescription />
                <span asp-validation-for="ServiceToDelete.ServiceDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="./ServiceList">Back To Service List</a>
</div>