@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Background image -->
<div class="jumbotron jumbotron-custom jumbotron-fluid">
    <div class="container text-sm-center p-t-3">


    </div>
</div>
<!-- Background image -->
